@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Author/Views/Shared/AuthorLayout.cshtml";
}




@if (Model.Count == 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="alert alert-success">Henüz herhangi bir blog eklenmedi.</div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table id="" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Blog Resmi</th>
                <th>Blog Adı</th>
                <th>Açıklama</th>
                <th>Tarih</th>
                <th>Kategori</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="~/img/@item.BlogImage" width="70" height="70" /></td>
                    <td>@item.Name</td>
                    <td>@Html.Raw(item.Description)</td>
                    <td>@item.BlogDate.ToShortDateString()</td>
                    <td>@item.Category.Name</td>

                    <td><a class="btn btn-danger" id="delete" data-id="@item.BlogId">Sil</a></td>
                    <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@item.BlogId">Güncelle</a></td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th>Blog Resmi</th>
                <th>Blog Adı</th>
                <th>Açıklama</th>
                <th>Tarih</th>
                <th>Kategori</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </tfoot>
    </table>
}



<br />

<a asp-action="Create" class="btn btn-primary">Ekle</a>
<script>
    $(document).ready(function () {
        $('table.display').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }

        });

    });
</script>


<script type="text/javascript">
    $("table.display").on("click", "#delete", function () {
        var id = $(this).data("id");

        swal({
            title: "Blog Silinecek!",
            text: "Bu blog silinecek gerçekten silmek istediğinize emin misinz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        type: 'GET',
                        url: '/Author/Blog/Delete/' + id,
                        success: function () {
                            toastr.error("Blog silme işlemi başarıyla gerçekleşti");
                        }
                    });

                    $(this).parent("td").parent("tr").remove();

                }
            });


    });
</script>

