@model List<Blog>
@{
    ViewData["Title"] = "DeleteList";
}



@if (Model.Count == 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="alert alert-success">Henüz herhangi bir blog eklenmedi.</div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <table class="table table-bordered table table-striped table-responsive" id="table">
            <tr>
                <th>Blog Resmi</th>
                <th>Blog Adı</th>
                <th>Açıklama</th>
                <th>Blog Tarihi</th>
                <th>Kategorisi</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="~/img/@item.BlogImage" width="70" height="70" /></td>
                        <td>@item.Name</td>
                        <td>@Html.Raw(item.Description)</td>
                        <th>@item.BlogDate.ToShortDateString()</th>
                        <td>@item.Category.Name</td>

                        <td><a class="btn btn-warning"  asp-action="RestoreDeleted" asp-route-id="@item.BlogId" >Geri Getir</a></td>
                        <td><a class="btn btn-danger" id="delete" data-id="@item.BlogId">Tamamen Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}

<br />

<a asp-action="Create" class="btn btn-primary">Ekle</a>

<script type="text/javascript">
    $("#table").on("click", "#delete", function () {
        var id = $(this).data("id");

        swal({
            title: "Blog Silinecek!",
            text: "Bu blog silinecek gerçekten silmek istediğinize emin misinz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        type: 'GET',
                        url: '/Admin/Blog/FullDelete/' + id,
                        success: function () {
                            toastr.error("Blog silme işlemi başarıyla gerçekleşti");
                        }
                    });

                    $(this).parent("td").parent("tr").remove();

                }
            });


    });
</script>

